.skip{
	color:#111;
    margin: 0 auto;
    text-align: center;
    width: 100px;
    font-size: 1.3em;
    text-transform:uppercase;

}

html, body {
	margin:0;
	font-family: 'Titillium Web',Arial, sans-serif;
	color:#ffffff;
	font-size:14px;
	font-weight:300;
/*	background:#00008B;
  background: #48368b;*/
    background-image: url("../img/cityblue.jpg");
    background-size: cover;
    background-attachment:fixed;
        
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
	
}
a, a:hover, a:active, a:visited, a:link {
    outline:none;
    color:#000080;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}
p {
	padding:0 0 0 0;
	margin:15px 0 10px 0;
}
.no-padding {
	padding:0 !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.no-margin {
	margin:0 !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.lt-box {
	padding:10px;
	margin-bottom:20px;
	border:2px solid #fff;
}
.lt-box i {
	color:#fff;
}

/*   Home section */
.home-section {
	padding:0 0 20px 0;
	margin:200px 0 180px 0;
	width:100%;
	text-align:center;
	/*overflow:hidden;*/
}
.home-section h1 {
	padding:0 0 0 0;
	margin:0 0 0 0;
	font-family: Arial, sans-serif;
	font-size:80px;
	color:#ffffff;
	font-weight:700;
	text-transform:uppercase;
}

.home-section h2 {
	padding:0 0 0 0;
	margin:0 0 0 0;
	font-family: Arial, sans-serif;
	font-size:70px;
	color:#ffffff;
	font-weight:600;
	text-transform:uppercase;
}

.home-section p {
	font-size:35px;
	margin-bottom:20px;
}
/* Content Styles */
section {
  display: inline-block;
  margin: 0 0 50px;
  width: 100%;
}
h2.page-header {
  border-bottom: 3px solid #734BA9;
  position: relative;
  margin: 50px 0 15px 0;
}
h2.page-header span {
  left: 0;
  font-size: 20px;
  color: #E36159;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 10px 0 0;
}

/* Button  */

.btn{
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-image:none;
	border:1px solid transparent;
	border-radius:0
}
.btn-social { 
	position:relative;
	padding-left:44px;
	text-align:left;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}

.btn-facebook,.btn-twitter,.btn-learning {
	width: 300px;
	height: 50px;
	font-weight:600;
	font-size: 1.2em;

}
.btn-facebook
{
    width: 300px;
	color:#fff;
	background-color:#3b5998;
	border-color:rgba(0,0,0,0.2)
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active
{
	color:#fff;
	background-color:#2d4373;
	border-color:rgba(0,0,0,0.2)
}
.btn-facebook:active,
.btn-facebook.active
{
	background-image:none
}
.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active
{
	background-color:#3b5998;
	border-color:rgba(0,0,0,0.2)
}


.btn-twitter
{
   
	color:#fff;
	background-color:#55acee;
	border-color:rgba(0,0,0,0.2);	
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active
{
	color:#fff;
	background-color:#2795e9;
	border-color:rgba(0,0,0,0.2)
}
.btn-twitter:active
{
	background-image:none
}
.btn-twitter.disabled,
.btn-twitter[disabled],
fieldset[disabled] .btn-twitter,
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled:active,
.btn-twitter[disabled]:active,
fieldset[disabled] .btn-twitter:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter.active
{
	background-color:#55acee;
	border-color:rgba(0,0,0,0.2)

}

.btn-learning {
  
  color: #fff;
  
  background-color: #d87a68;
 border-color:rgba(0,0,0,0.2)
  
}
.btn-learning:hover,
.btn-learning:focus,
.btn-learning:active,
.btn-learning.active {
  color: #fff;
  background-color: #ce563f;
  border-color:rgba(0,0,0,0.2)
}
.btn-learning:active,
.btn-learning.active {
  background-image: none;
}
.btn-learning.disabled,
.btn-learning[disabled],
fieldset[disabled] .btn-learning,
.btn-learning.disabled:hover,
.btn-learning[disabled]:hover,
fieldset[disabled] .btn-learning:hover,
.btn-learning.disabled:focus,
.btn-learning[disabled]:focus,
fieldset[disabled] .btn-learning:focus,
.btn-learning.disabled:active,
.btn-learning[disabled]:active,
fieldset[disabled] .btn-learning:active,
.btn-learning.disabled.active,
.btn-learning[disabled].active,
fieldset[disabled] .btn-learning.active {
   background-color: #d87a68;
   border-color:rgba(0,0,0,0.2)
}



.btn-info-alt {
  color: #337ab7;
  background-color: rgba(255, 255, 255, 0);
  border-color: #337ab7;
  border-width: 1px;
  border-style: solid;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-info-alt:hover,
.btn-info-alt:focus,
.btn-info-alt:active,
.btn-info-alt.active {
  border-color: #337ab7;
  background-color: #337ab7;
  color: #fff;
}
.btn-info-alt.disabled,
.btn-info-alt[disabled],
fieldset[disabled] .btn-info-alt,
.btn-info-alt.disabled:hover,
.btn-info-alt[disabled]:hover,
fieldset[disabled] .btn-info-alt:hover,
.btn-info-alt.disabled:focus,
.btn-info-alt[disabled]:focus,
fieldset[disabled] .btn-info-alt:focus {
  box-shadow: none !important;
  border-color: #337ab7;
  color: #337ab7;
}
.btn-info-alt.disabled:active,
.btn-info-alt[disabled]:active,
fieldset[disabled] .btn-info-alt:active,
.btn-info-alt.disabled.active,
.btn-info-alt[disabled].active,
fieldset[disabled] .btn-info-alt.active {
  border-color: #337ab7;
  background-color: #337ab7;
  color: #fff;
}


.btn-lg[class*="alt"] {
  padding: 9px 29px;
  font-size: 17px;
  line-height: 1.33;
  border-radius: 3px;
  padding: 10px 29px;
}
.btn-sm[class*="alt"] {
  padding: 4px 12px;
  font-size: 13px;
  line-height: 1.44;
  border-radius: 3px;
}
.btn-xs[class*="alt"] {
  padding: 3px 11px;
  font-size: 12px;
  line-height: 1.44;
  border-radius: 3px;
  padding: 3px 5px;
  line-height: 1em;
}

/* Well */
.well{
	min-height:20px;
	padding:19px;
	background-color:#F5F5F6;
	border-radius:0;
	color:#777;
	margin-bottom: 5px;
}

.well-default{
	min-height:20px;
	padding:19px;
	background-color:#fff;
	border-radius:0;
	color:#111
}

.well-primary{
	min-height:20px;
	padding:19px;
	background-color:#428bca;
	border-radius:0;
	color:#fff
}

.well-info{
	min-height:20px;
	padding:19px;
	background-color:#3160d5;
	border-radius:0;
	color:#fff
}

.well-success{
	min-height:20px;
	padding:19px;
	background-color:#449d44;
	border-radius:0;
	color:#fff
}

.well-danger{
	min-height:20px;
	padding:19px;
	background-color:#c9302c;
	border-radius:0;
	color:#fff
}

.well-warning{
	min-height:20px;
	padding:19px;
	background-color:#f9bd06;
	border-radius:0;
	color:#fff
}
.well-facebook{
	font-size: 1.1em;
    min-height:20px;
    padding:19px;
    background-color:#3b5998;
    border-color: rgba(0,0,0,0.2);
    border-radius:0;
    color:#fff
}
.well-twitter{
	font-size: 1.1em;
    min-height:20px;
    padding:19px;
    background-color:#55acee;
    border-color: rgba(0,0,0,0.2);
    border-radius:0;
    color:#fff
}
.well-interest{
   min-height:20px;
  padding:19px;
  background-color:#d87a68;
  border-color: rgba(0,0,0,0.2);
  border-radius:0;
  color:#fff
}

.well-sm{
	padding:9px;
	border-radius:0
}

.well-lg{
	padding:24px;
	border-radius:0
}
#main{
    width: 667px;

    margin: 20px auto;
}


.login-button{
    margin-top: 10px;
}
#index-blank{
    height: 300px;
}
.half-blank{
    height: 70px;
}
#title{
    margin: 50px auto;
}

.right-align{
    text-align:right;
    width: 667px;
    margin: 20px auto;
}

.post-result{
	color:#000099;
  /*color:#CC99cc; */
  font-weight:600;
  font-size: 1.2em;
}
.interest-analyze{
  /*color:#FFDEBF;*/
  color:#000080;
  font-size: 1.1em;
  font:Arial, sans-serif
}
.another-dis{
	text-align: center; 
	margin-top:-60px;
	font-weight: blod;    
}
#chartContainer{
    width: 590px;
    height: 400px;
    text-align: center;
    font-size: 100px;
}
#viz
{
    width: 667px;
    height: 405px;
    margin-left: 133px;
}
#viz_div
{
    text-align: center;
}
.twitter_text,.facebook_text{
    font-size: 1.2em;
	font-weight: 900;
	
}
.twitter_text{
	color: #55acee;
}
.facebook_text{	
	color: #2d4373;
}
.date_display{
	color:#111; 	
	font-style:italic;
}
.date_post{
	font-size: 0.8em; 
}
.date_interest{
	font-size: 0.9em;
}
.upload_interest{
	color:#fff; 
	font-weight:600; 
	font-size:1.2em

}
.upload_li{
	 margin-left:65px;
	 color:#111
}
