{% extends "base.html" %}

{% block title %} Social Connector {% end %}
{% block content %}
<!-- 
<h1 id="title">Social Connector</h1> -->
 <section class="home-section">
            <div class="container">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2>Social Connector</h2>                         
                </div>  
               

            </div>
 </section>


<!-- <div class="half-blank"></div> -->
 {% if not is_tw_login %}

 <h3 class="another-dis">Are you going to connect your <span class="twitter_text">Twitter</span> account?</h3>


<div class="half-blank"></div>

<div class="login-button text-center">
	<a href="/twitter_login">
		<button type="button" class="btn btn-twitter">
			<span class="fa fa-twitter fa-lg">&nbsp;&nbsp;
			</span> Sign in with Twitter
		</button>
	</a>
</div>
{% end %}

{% if not is_fb_login %}
<h3 class="another-dis">Are you going to connect your <span class="facebook_text">Facebook</span> account?</h3>

<div class="half-blank"></div>
<div class="login-button text-center">
	<a href="/facebook_login">
		<button type="button" class="btn btn-facebook">
			<span class="fa fa-facebook fa-lg">&nbsp;&nbsp;
			</span>Sign in with Facebook</button>
	</a>
</div>
{% end %}

<div style="margin: 25px auto; text-align: center;"> <button  type="button" class="btn btn-info-alt skip" > <a href="/posts">skip</a></button></div>

{% end %}
