<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} Social Connector {% end %}</title>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/main.js"></script>
        <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha512.js"></script>
        <script src="/static/js/LearningContext.js" type="text/javascript"></script>
        <script src="/static/js/LearningContextUtil.js" type="text/javascript"></script>
        <script src="/static/js/TokenManager.js" type="text/javascript"></script>
        <script src="/static/js/ContextData.js" type="text/javascript"></script>
        <script src="/static/js/Entity.js" type="text/javascript"></script>
        <script src="/static/js/Event.js" type="text/javascript"></script>
        <script src="/static/js/js.cookie.js" type="text/javascript"></script>
       
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"> 
        <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        
    </head>
    <body>
        <section></section> 
        
        {% block content %} {% end %}
       
    </body>
</html>

