{% extends "base.html" %}

{% block title %} Social Connector {% end %}
{% block content %}


 <section class="home-section">
            <div class="container">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1>Social Connector</h1>                         
                </div>                
            </div>
 </section>
<!--<h1 id="title">Social Connector</h1>-->
<!--<div id="index-blank"></div>-->

<div class="container">
       
			<div class="login-button text-center">
				<a href="/facebook_login">
                    <button type="button" class="btn btn-social btn-facebook btn-lg" {% if is_fb_login %} disabled=true{% end %}>
						<span class="fa fa-facebook fa-lg">&nbsp;&nbsp;
						</span>Sign in with Facebook
					</button>
				</a>
			</div>


			
			<div class="login-button text-center">
				<a href="/twitter_login">
                    <button type="button" class="btn btn-social btn-twitter btn-lg" {% if is_tw_login %}disabled=true{% end %}>
						<span class="fa fa-twitter fa-lg">&nbsp;&nbsp;
						</span>Sign in with Twitter
					</button>
				</a>
			</div>


			
			<div class="login-button text-center">
				<a href="/learning">
                    <button type="button" class="btn btn-social btn-learning btn-lg" {% if is_learn_login %} disabled=true {% end %}>
						<span class="fa fa-book fa-lg">&nbsp;&nbsp;
						</span>Learning-Context
					</button>
				</a>
			</div>
	 
    </div>
    
 
{% end %}
	
