{% extends "base.html" %}

{% block content %}

<script src="http://d3js.org/d3.v2.min.js?2.10.0"></script>
<script type="text/javascript" src="/static/js/d3.layout.cloud.js"></script>

<div id="main">
	<!-- <div class="container"> -->

		<div class="right-align">
			<h3>
				<a href="/upload">Upload 
					<i class="fa fa-arrow-circle-right"></i>
				</a>
			</h3>
		</div>
	<!-- </div> -->

<div id="viz_div"><svg id="viz"></svg></div>


<h4>Your interests are based on your <span style="font-weight:900; color:#2d4373">LIKEs </span> on Facebook:</h4>
<script>interests_left = {{len(likes)}}; interests = {{ len(likes) }};</script>
{% for i, like in likes %}

<div class=" well well-interest">
    <span id="name_{{ i }}">
		<h4>
			<i class="fa fa-thumbs-up"></i> 
            {{ like['name'] }}
		</h4>
	</span> 
    
    <span hidden id="page_{{ i }}">{{ like[u'id'] }}</span>


	<span id="topic_{{ i }}" class="interest-analyze">
	 	<i class="fa fa-spinner fa-spin"> </i> 
        <script> topics_get('{{ like['name'] }}', "topic_{{ i }}", "date_{{ i }}", "page_{{ i }}"); 
			</script>
	</span>
    <div id="date_{{ i }}" class="text-right date_display date_interest">{{ like['created_time'] }}</div>
</div>

{% end %}
</div>
{% end %}
