{% extends "base.html" %}

{% block content %}

<script src="/static/js/d3.min.js"></script>
<script src="http://dimplejs.org/dist/dimple.v2.1.6.min.js"></script>

<script>posts_left = {{len(posts)}}; posts = {{ len(posts) }};</script>
<!-- <div class="right-align container"> <h3> <a href="/interest">Interests <i class="fa fa-arrow-circle-right"> </i></a></h3></div>-->
<div id="main">
  
        <div class="right-align"> 
            <h3> 
                <a href="/interest">Interests 
                    <i class="fa fa-arrow-circle-right"> 
                    </i>
                </a>
            </h3>
        </div>


<div id="chartContainer">
    <i class="fa fa-spinner fa-spin"> </i>  
</div>


{% for i, post in posts %}

    <div class="well 
        {% if post['source'] == 'twitter' %} 
            well-twitter 
        {% else %} 
            well-facebook 
        {% end %}">
        <span style="font:Arial, sans-serif"> 
        {% if post['source'] == 'twitter' %}
            <span class="fa fa-twitter fa-lg">
                &nbsp;&nbsp;
            </span> 
        {% else %} 
            <span class="fa fa-facebook fa-lg">
                &nbsp;&nbsp;
            </span>
        {% end %}: 
        {{ post['text'] }} at <span id="date{{ i }}" class="date_display date_post">{{ post['date'] }}</span> 
        </span>
        <span id="{{ i }}" class="post-result"> 
            <i class="fa fa-spinner fa-spin"> </i>  
            <script>analysis('{{ post['text']}}', "{{ i }}");</script>
        </span>
    </div>


{% end %}

</div>
{% end %}
