{% extends "base.html" %}

{% block title %} Social Connector {% end %}
{% block content %}
<div id="main">
<div id="scores">
<h1>Scores:</h1>

</div>

<div id="interests">
<h1>Interests:</h1>
</div>

<script>
scores = JSON.parse(Cookies.get('post'));
for (var i in scores)
    document.getElementById('scores').innerHTML += '<li class="upload_li">' + '<i class="date_display"> ' + i + '</i>' + ' &nbsp;&nbsp; ' + '<i class="post-result">' + scores[i] + '</i>' + '</li>';



interests = JSON.parse(Cookies.get('interests'));
for (var i in interests)
document.getElementById('interests').innerHTML += '<li class="upload_li">' + '<i class="date_display"> ' + i + '</i>' + ' &nbsp;&nbsp; ' + '<i class="upload_interest">' + interests[i]["text"] + '</i>'+ '</li>';

</script>
<br>

<button class="btn btn-default" onclick="upload()">Upload</button>
</div>


{% end %}
